html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

.pwnstar-tabs {
    height: 30px;
    background-color: #282828;
    user-select: none;
}

.pwnstar-tab {
    height: 30px;
    display: inline-block;
    background-color: gray;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 1px;
    border-radius: 7px 7px 0px 0px;
    font-family: monospace;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    user-select: none;
}

.tab:focus {
    outline: none;
}

.pwnstar-terminal {
    width: calc(100% - 20px);
    height: calc(100% - 20px - 20px);
    visibility: hidden;
    margin: 10;
}

.pwnstar-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
}

.loader {
    width: 120px;
    height: 120px;
    margin-left: -76px;
    margin-top: -76px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

#annotation {
    width: 100%;
    height: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.redo {
    width: 152px;
    height: 152px;
    margin-left: -76px;
    margin-top: -76px;
    background-color: #f3f3f3;
    cursor: pointer;
    mask: url(/img/redo-solid.svg) no-repeat center;
    -webkit-mask: url(/img/redo-solid.svg) no-repeat center;
}

.pwnstar-kill {
    position: absolute;
    left: 100%;
    top: 0%;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin-left: -30px;
    margin-top: 2.5px;
    background-color: lightgray;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.pwnstar-kill-tooltip {
    visibility: hidden;
    position: absolute;
    left: -100px;
    top: 30px;
    width: 120px;
    padding: 5px;
    border-radius: 6px;
    background-color: gray;
    color: white;
    font-size: 10px;
    text-align: center;
}

.pwnstar-kill:hover .pwnstar-kill-tooltip {
    visibility: visible;
}

.xterm-viewport {
    overflow: hidden !important;
}
